.contact_link_text, .contact_field_name_text, .contact_field_text {
    font-size: 36px;
    padding-left: 20px;
}

.contact_link_text, .contact_field_text {
    font-size: 36px;
    color: rgb(0, 25, 57);
}

.contact_link_text:hover, .contact_link_text:focus {
    color: cyan;
}

.contact_field_name_text {
    color: rgb(186, 219, 255);
}
